@import "../../scss/variables";

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;

  .cards {
    width: 500px;
    height: 350px;
    position: relative;
    overflow: hidden;
    &:hover .card-over {
      transform: translateY(0);
    }
    &:hover img {
      opacity: 1;
    }
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(62, 6, 62);
    padding: 0.5rem;
    border-radius: 8px 16px;
    background-color: rgba(76, 70, 70, 0.564);
    z-index: 2;
  }
  .date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(76, 70, 70, 0.564);
    padding: 1rem;
    z-index: 2;
    width: 20rem;
    text-align: center;
  }
  img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.8;
  }
  .card-over {
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.753);
    z-index: 3;
    padding: 1rem;
    font-size: 1.2rem;
    transform: translateY(100%);
    transition: transform 0.7s;
    max-height: 75%;

    p {
      color: rgb(255, 255, 255);
    }
  }
}
